# ZRPS (ZombsRoyale Private Server) Mason Config File

# Database Connection Information
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=zrps

# WebSocket Server Settings
PORT=3002